* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Poppins";
}


/* header */

h1,
h2,
h3,
h4,
p,
a,
span {
    font-family: "Poppins";
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 255, 0.1);
    height: 77px;
    z-index: 10;
}

.logo img {
    position: absolute;
    width: 129px;
    height: 36.65px;
    left: 121px;
    top: 15px;
}

.menu-items {
    display: flex;
}

.menu-hover {
    padding: 3px 20px 0px;
}

.menu-items a {
    font-family: "Poppins";
    font-weight: 700;
    color: rgba(47, 38, 67, 1);
    opacity: 0.8;
}

.menu-items i:hover {
    transform: rotate(180deg);
}

.menu-hover:hover {
    color: rgb(0, 0, 0);
    opacity: 100%;
    font-style: normal;
    font-weight: 900;
}

.nav-btn a {
    padding: 10px 20px;
    font-weight: 700;
}

.white-btn {
    color: rgba(47, 38, 67, 1);
    opacity: 0.8;
}

.pink-btn {
    background: #ff707a;
    border-radius: 4px;
    color: #ffffff;
}

.pink-btn:hover {
    color: rgba(47, 38, 67, 1);
}

.dropdown-content {
    position: absolute;
    width: 438px;
    height: 428px;
    left: 291px;
    top: 68px;
    background: #ffffff;
    box-shadow: 0px 4px 56px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    visibility: hidden;
    transition: 0.5s;
}

.dropdown-content li {
    color: rgba(47, 37, 67, 0.56);
    font-weight: 600;
    display: flex;
}

.navigation_subitem a:hover {
    text-transform: uppercase;
    color: #000000;
    font-weight: 900;
    display: flex;
}

.navigation_subitem {
    padding: 12px 32px;
}

ul .dropdown-content:hover {
    display: block;
}

.drop:hover>.dropdown-content {
    opacity: 1;
    visibility: visible;
}


/* nav menu btn */

.menu-btn {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    z-index: 1;
}

.menu-btn__lines,
.menu-btn__lines::before,
.menu-btn__lines::after {
    width: 1.5rem;
    height: 0.1rem;
    background-color: rgba(106, 110, 117, 1);
    transition: all 0.5s ease-in-out;
}

.menu-btn__lines::before,
.menu-btn__lines::after {
    content: "";
    position: absolute;
}

.menu-btn__lines::before {
    transform: translateY(-0.5rem);
}

.menu-btn__lines::after {
    transform: translateY(0.5rem);
}


/* burger menu animation */

.menu-btn.open .menu-btn__lines {
    transform: translateX(2rem);
    background-color: transparent;
}

.menu-btn.open .menu-btn__lines::before {
    transform: rotate(45deg) translate(-1.5rem, 1.5rem);
}

.menu-btn.open .menu-btn__lines::after {
    transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
}


/* section */

.heading-wrapper-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title {
    margin-top: 136px;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    text-align: center;
    color: #190e2f;
}

.second-title {
    font-weight: 500;
    font-size: 21px;
    text-align: center;
    color: #190e2f;
    margin-top: 40px;
}

.section-btn {
    width: 228px;
    height: 56px;
    background: #ff707a;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    padding: 16px 24px;
    border-radius: 0.4rem;
    margin-top: 16px;
}

.section-btn:hover {
    color: rgba(47, 38, 67, 1);
}

.reminder {
    font-weight: 400;
    font-size: 14px;
    color: #524a63;
    margin-top: 14px;
}

#slider-wrapper {
    width: 866px;
    height: 414px;
    margin: 50px auto;
    position: relative;
    margin-bottom: 0px;
    overflow: hidden;
}

.dots {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
}

#s1 {
    position: absolute;
    z-index: 9;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #dadbdd;
    cursor: pointer;
    transition: all 0.15s linear;
}

#s2 {
    position: absolute;
    z-index: 9;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #dadbdd;
    cursor: pointer;
    transition: all 0.15s linear;
    margin-left: 50px;
}

#s3 {
    position: absolute;
    z-index: 9;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #dadbdd;
    cursor: pointer;
    transition: all 0.15s linear;
    margin-left: 100px;
}

#s1:hover,
#s2:hover,
#s3:hover {
    background: #ff707a;
    width: 13px;
    height: 13px;
}

.inner-wrapper {
    width: 866px;
    height: 414px;
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 0px;
    overflow: hidden;
}

.control {
    display: none;
}

#Slide1:checked~.overflow-wrapper {
    margin-left: 0%;
}

#Slide2:checked~.overflow-wrapper {
    margin-left: -100%;
}

#Slide3:checked~.overflow-wrapper {
    margin-left: -200%;
}

#Slide1:checked+#s1 {
    opacity: 1;
}

#Slide2:checked+#s2 {
    opacity: 1;
}

#Slide3:checked+#s3 {
    opacity: 1;
}

.overflow-wrapper {
    width: 400%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: hidden;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.slide img {
    width: 25%;
    float: left;
}

.section-third {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Third-title {
    margin-top: 46px;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #190e2f;
}

.span2 {
    margin-top: 46px;
    font-weight: 500;
    opacity: 80%;
    font-size: 20px;
    text-align: center;
    color: #433a4a;
    opacity: 0.8;
}

.cards {
    display: flex;
}

.card {
    display: flex;
    border-width: 9.13px;
    border-top-style: solid;
    border-color: #ff707a;
    width: 320px;
    height: 140px;
    background: #ffffff;
    box-shadow: 0px 4px 40px -2px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    margin: 32px;
}

.card:nth-child(2) {
    border-color: rgba(245, 177, 24, 1);
}

.card:nth-child(3) {
    border-color: rgba(0, 174, 220, 1);
}

.card p {
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #433a4a;
}

.card a {
    display: flex;
    padding: 27px;
}

.btn2 {
    width: 215px;
    height: 56px;
    background: #ff707a;
    font-weight: 900;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    padding: 16px 24px;
    border-radius: 0.4rem;
    margin-top: 40px;
}


/* section2 */

.section2 {
    width: 100%;
    height: 1332px;
    background: #f9f9f9;
    margin-top: 45px;
}

.title {
    font-weight: 700;
    font-size: 36px;
    color: #190e2f;
    padding-top: 81px;
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 150px;
    margin-top: 83px;
}

.main-article {
    font-weight: 600;
    font-size: 20px;
    color: rgba(25, 14, 47, 0.8);
}

.Article-p {
    font-weight: 400;
    font-size: 16px;
    color: rgba(25, 14, 47, 0.8);
}

.border {
    border: none;
    padding-top: 12px;
}

.border2 {
    border: none;
    padding-top: 24px;
}

.border3 {
    border: none;
    padding-top: 12px;
}

.border4 {
    border: none;
    padding-bottom: 60px;
}

.more {
    font-weight: 600;
    padding-top: 12px;
    font-size: 16px;
    line-height: 24px;
    color: #00AEDC;
}

.fourth-section-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.joinnow {
    font-weight: 700;
    font-size: 20px;
    color: #FF707A;
}

.join {
    border: solid #FF707A;
    width: 109px;
}

.article-div {
    /* margin-top: ; */
    margin-left: 51px;
}

.article-title {
    font-weight: 700;
    font-size: 36px;
    color: #190E2F;
    margin-top: 130px;
}

.padding {
    border: none;
    padding-top: 24px;
}

.fourth-section-div img {
    margin-top: 68px;
}

.article {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.01em;
    color: rgba(25, 14, 47, 0.8);
}

.fifth-sectino-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.h3-li {
    color: #190E2F;
    font-weight: 700;
    font-size: 36px;
}

.list-div i {
    color: #00AEDC;
    padding-right: 15px;
    padding-top: 5px;
}

.borderimage {
    border: 0.5rem solid rgba(255, 112, 122, 0.24);
    border-radius: 150px;
    margin-left: 71px;
    margin-top: -100px;
}

.circle {
    position: relative;
    left: 200px;
    top: -115px;
    width: 20px;
    height: 20px;
    background: #FF707A;
    border-radius: 150px;
    border: 4px solid #FFFFFF;
}

.borderimage2 {
    border: 0.5rem solid rgba(245, 177, 24, 0.24);
    border-radius: 150px;
    margin-top: 200px;
    margin-right: -30px;
}

.flex {
    display: flex;
}

.borderimage3 {
    border: 0.5rem solid rgba(0, 174, 220, 0.24);
    border-radius: 150px;
}

.circle3 {
    position: relative;
    left: 200px;
    top: -94px;
    width: 35px;
    height: 35px;
    background: #00AEDC;
    border: 6px solid #FFFFFF;
    border-radius: 150px;
}

.li-div-a {
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    color: #000000;
}

.list-div li {
    margin-top: 24px;
}

.borderimage4 {
    margin-top: 350px;
    margin-left: -200px;
    border: 0.5rem solid rgba(9, 215, 126, 0.24);
    border-radius: 150px;
}

.borderimage5 {
    margin-top: 390px;
    margin-left: -280px;
    border: 0.5rem solid rgba(184, 184, 254, 0.24);
    border-radius: 150px;
}

.circle5 {
    position: relative;
    left: -160px;
    top: 130px;
    width: 25px;
    height: 25px;
    background: rgba(120, 139, 255, 1);
    border-radius: 150px;
    border: 4px solid #FFFFFF;
}

.Trustedby {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin-top: 125px;
    color: #190E2F;
}

.next-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.Next-title {
    color: #190E2F;
    opacity: 0.9;
    font-weight: 700;
    font-size: 36px;
}

.Paragraph {
    text-align: center;
}

.Freetrial {
    width: 419px;
    height: 340px;
    background: #FFFFFF;
    box-shadow: 0px 4px 56px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-top: 20px;
}

.next-paragraph {
    margin-top: 24px;
    color: #190E2F;
    font-weight: 600;
    font-size: 20px;
}

.Paragraph {
    padding-top: 3px;
    line-height: 34px;
    color: #190E2F;
    font-weight: 400;
    font-size: 20px;
}

.check-icon {
    color: #FF707A;
}

.Freetrial li {
    padding-top: 14px;
    margin-left: 18px;
}

.Freetrial li:first-child {
    padding-top: 20px;
}

.next-span {
    padding-left: 12px;
    color: rgba(25, 14, 47, 0.8);
    opacity: 0.9;
    font-weight: 400;
    font-size: 16px;
}

.trial-title {
    color: #F77881;
    font-size: 20px;
    font-weight: 600;
    padding-left: 51px;
    padding-top: 28px;
}

.btn3 {
    width: 201px;
    height: 56px;
    background: #ff707a;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    padding: 16px 24px;
    border-radius: 0.4rem;
    margin-top: 40px;
    letter-spacing: 0.02em;
    margin-top: 34px;
    margin-left: 108px;
}

footer {
    width: 100%;
    height: 432px;
    background: #474F5A;
    margin-top: 70px;
}

.footer {
    display: flex;
    justify-content: space-around;
}

.topborder {
    display: flex;
    justify-content: center;
    color: rgba(219, 227, 230, 1);
    opacity: 0.75;
    margin-top: 32px;
}

.hr {
    border-top: 1px solid #DBE3E6;
    width: 1006px;
    background-color: rgba(219, 227, 230, 1);
    opacity: 0.25;
    margin-top: 40px;
    margin-left: 180px;
}

.footer-p {
    color: #DBE3E6;
    opacity: 0.75;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    margin-top: 36px;
}

.Envitelogo svg {
    margin-top: 32px;
}

.icons svg {
    margin-top: 40px;
}

.main-a {
    color: #DBE3E6;
    opacity: 0.75;
    font-weight: 700;
    font-size: 14px;
    /* margin-bottom: 8px; */
}

.second-line {
    margin-top: 24px;
}

.third-line {
    margin-top: 24px;
}

.fourth-line {
    margin-top: 24px;
}

.line-a {
    font-weight: 400;
    font-size: 12px;
    color: #DBE3E6;
}

.enviteimg {
    display: none;
}

.line-li {
    margin-top: 5px;
}

@media (max-width: 900px) {
    body,
    html {
        width: 100%;
        /* height: 100%; */
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .heading-wrapper-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section-title {
        line-height: 110%;
        margin-top: 100px;
        text-align: center;
        font-size: 36px;
        width: 300px;
    }
    .nav-btn {
        display: none;
    }
    .second-title {
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        width: 221px;
    }
    .inner-wrapper {
        width: 375px;
        height: 180px;
    }
    br {
        display: none;
    }
    #slider-wrapper {
        margin-top: 16px;
        width: 375px;
        height: 180px;
    }
    .Third-title {
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;
        width: 281px;
    }
    .circle {
        display: none;
    }
    .circle3 {
        display: none;
    }
    .dots {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .span2 {
        font-weight: 600;
        font-size: 16px;
        margin-top: 16px;
    }
    .cards {
        display: block;
    }
    .card p:last-child {
        width: 232px;
    }
    .btn2 {
        margin-top: 24px;
    }
    .title {
        width: 305px;
        line-height: 120%;
        font-weight: 700;
        font-size: 24px;
        max-width: 375;
        margin: 0 auto;
    }
    .section2 {
        width: 378px;
        height: 485px;
        display: none;
    }
    .wrapper {
        display: flex;
        margin-left: 44px;
    }
    .fourth-section-div {
        display: block;
    }
    .fourth-section-div img {
        /* width: 303px;
        height: 194px; */
        margin-left: 0px;
        max-width: 100%;
    }
    .article-title {
        font-size: 24px;
        margin-top: 32px;
    }
    .article {
        font-size: 16px;
        /* text-align: center; */
        /* width: 327px; */
        margin-left: -20px;
    }
    .joinnow {
        font-size: 16px;
    }
    .join {
        width: 85px;
    }
    .fifth-sectino-div {
        display: block;
    }
    .list-div {
        margin-left: 25px;
    }
    .flex p {
        font-weight: 500;
        font-size: 16px;
        line-height: 170.6%;
    }
    .li-div-a {
        font-weight: 500;
        font-size: 15px;
        line-height: 170.6%;
    }
    .list-div i {
        font-size: 12px;
        padding: 2px;
    }
    .list-div {
        margin-left: 10px;
    }
    .h3-li {
        font-size: 24px;
        text-align: center;
    }
    .borderimage,
    .borderimage2,
    .borderimage3,
    .borderimage4,
    .borderimage5 {
        display: none;
    }
    .enviteimg {
        display: block;
        width: 100%;
    }
    .Trustedby {
        font-weight: 700;
        font-size: 24px;
    }
    footer {
        height: 957px;
    }
    .footer {
        display: block;
        padding-left: 32px;
    }
    .line-a {
        font-size: 14px;
    }
    .line-li {
        padding-top: 12px;
    }
    .topborder {
        font-size: 12px;
        margin-top: 70px;
    }
    .hr {
        width: 327px;
        margin-left: 24px;
    }
    .Next-title {
        font-size: 24px;
        width: 172px;
        text-align: center;
    }
    .next-paragraph {
        font-size: 12px;
        line-height: 20px;
        width: 261px;
        text-align: center;
    }
    .Paragraph {
        font-size: 12px;
        width: 206px;
        color: #190E2F;
        line-height: 20px;
        margin-top: 10px;
    }
    .Freetrial {
        width: 327px;
        height: 302px;
    }
    .next-span {
        font-size: 12px;
    }
    .Freetrial li i {
        font-size: 15px !important;
    }
    .btn3 {
        margin-top: 29px;
        margin-left: 63px;
    }
    .logo img {
        left: 10px;
    }
    .menu-btn {
        display: flex;
    }
    .menu-items {
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 100vh;
        transform: translateX(100vw);
        background-color: #f9f9f9;
        transition: transform 0.3s ease-in-out;
    }
    .menu-items.open {
        transform: translateX(0);
    }
}

@media (max-width: 1200px) {
    body,
    html {
        width: 100%;
        /* height: 100%; */
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .section2 {
        width: 100%;
    }
    .navbar a {
        font-size: 16px;
        width: 100%;
        padding: 10px;
    }
    .nav-btn a {
        padding: 10px 10px;
        font-weight: 700;
    }
    .logo img {
        left: 20px;
    }
}